<p>
  Solicitação de <strong><%= @attest.operation %></strong>.
  
  <%= link_to "Acessar assinatura",
      attest_accept_url(combined_tokens: "#{@attest.token}+#{@signature.signature_token}")
  %>
</p>
<p> Atenciosamente,</p>